<%= @recipe.name %> <br>
<%= @recipe.ingredients %> <br>
<%= @recipe.cook_time %> <br>
<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit" value="delete"><%="/recipes/#{@recipe.id}/delete"%></button>
</form>
